body {
    margin: 60px auto;
    width: 60%;
    background-color: #282B2C;
    color: #282B2C;
}
nav ul, footer ul {
    font-family:"Courier New", Courier, monospace;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #91DA4A;
}
a:hover {
    text-decoration: underline;
    color: #A8FC56;
}
h1 {
    font-size: 2.5em;
    font-family:"Courier New", Courier, monospace;
    color: #6CD509;
    text-align: center;
}
h2 {
    font-size: 1.25em;
    font-family:"Courier New", Courier, monospace;
    color: #EEEEEC;
    text-align: center;
}
h3 {
    font-size: 1.25em;
    font-family:"Courier New", Courier, monospace;
    color: #EEEEEC;
    text-align: left;
    margin-bottom: 0;
}
h4 {
    font-size: 1.25em;
    font-family:"Courier New", Courier, monospace;
    color: #EEEEEC;
    text-align: left;
    margin-bottom: 0;
    margin-top: 0:
}
h5 {
    font-size: 1.25em;
    font-family:"Courier New", Courier, monospace;
    color: #AD7FA8;
    text-align: left;
}
h6 {
    font-size: 1.25em;
    font-family:"Courier New", Courier, monospace;
    color: #729FCF;
    text-align: left;
}
li {
    font-size: 1.25em;
    font-family:"Courier New", Courier, monospace;
    color: #EEEEEC;
    text-align: left;
    margin-right: 3px;
    margin-left: 3px
}
/*
h1 {
  animation: animated-text 4s steps(29,end) 1s 1 normal both,
  h4 {
    font-size: 1.25em;
    font-family:"Courier New", Courier, monospace;
    color: #0099ff;
    text-align: left;
}           animated-cursor 600ms steps(29,end) infinite;
}

@keyframes animated-text{
  from{width: 0;}
  to{width: 472px;}
}

@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}
*/

p {
    font-size: 1.25em;
    font-family:"Courier New", Courier, monospace;
    line-height: 1.4em;
    color: #ffffff;
    width: 90%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}
img {
  border-radius: 8px;
  max-width: 800px;
  width: 50%;
  display: block;
  margin: auto;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    font-family:"Courier New", Courier, monospace;
    color: #9ccc9c;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
h4.posts {
    font-size: 1em;
    font-family:"Courier New", Courier, monospace;
    line-height: 1.4em;
    color: #ffffff;
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.resume {
    line-height: .8;
}
h3.resume {
    margin-top: 1.2;
}
