body {
    margin: 60px auto;
    width: 70%;
    background-color: #101010;
    color: #ffffff;
}
nav ul, footer ul {
    font-family:"Courier New", Courier, monospace;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
    color: #4E9A06
}
h1 {
    font-size: 3em;
    font-family:"Courier New", Courier, monospace;
    color: #ffffff;
}
h1 {
  animation: animated-text 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 472px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}

p {
    font-size: 1.5em;
    font-family:"Courier New", Courier, monospace;
    line-height: 1.4em;
    color: #333;
    color: #ffffff;
}
img {
  border-radius: 8px;
  max-width: 800px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    font-family:"Courier New", Courier, monospace;
    color: #3465A4;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
